:root {
    --yellow: rgb(255, 214, 10); 
    --green: rgb(43, 168, 74);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 0px;
}

#wrapper{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/countryside2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--green);
    color: var(--yellow);
    position: fixed;
    width: 100vw;
    z-index:1;
    height: 10rem;
}

.brand-title {
    font-family:'Questrial', sans-serif;
    font-size: 4rem;
}

.brand-title-mobile {
    display: none;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none; 
    font-size: 2.3rem;
    margin-right: 12rem;
}

/* NAV UNDERLINE ANIMATION */
.navbar-links li a::before{ 
    content: '';
    position: absolute;
    top: 80%;
    width: 71%;
    margin-left: 0.1rem;
    height: 1.5px;
    background-color:rgb(241, 226, 16);
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
 }  

/* SERVICES NAV LINK */
.navbar-links li:nth-of-type(2) a::before {
    width: 75%;
}

/* CONTACT NAV LINK */
.navbar-links li:nth-of-type(3) a::before {
    width: 72%;
    margin-left: -0.1rem;
}

/* FAQ NAV LINK */
.navbar-links li:nth-of-type(4) a::before {
    width: 68%;
}

.navbar-links li a:hover::before{
    transform: scaleX(1);
}

.navbar-links li a{
    color: var(--yellow);
    padding: 1rem;
    display: block;
    text-decoration: none; 
    margin-right: 3rem;
    transition: color .1s ease-in-out;
    position: relative;
}

.navbar-links li a:hover{
    color: rgb(252, 252, 252);
}

.navbar-links li a:active{
    color: rgb(233, 233, 233);
}

#logo{
    margin-left: 3rem;    
    height: 7rem;
}


.toggle-button {
    display: none;
}




/* HEADLINE  */
.headline{
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 14rem;
}
.headline h1{
    color: var(--yellow);
    font-weight: normal;
    font-size: 5.5rem;
    margin-right: 2rem;
    
}

.headline h2{
    color: white;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 1;
    /* margin-top: 14rem; */
    margin-bottom:4rem;
    /* width: 90%; */
}

/* SHOWCASE CAROUSEL */
.carousel{
    position: relative;
    height: 90rem;
    width: 80%;
    margin: -8rem 0 0 13rem;
}

.carousel__image{
    width: 100%;
    height: 80%;
    object-fit: cover; /*crops image to avoid distortion*/
    border-radius: 30px;
}

.carousel__track-container /* carousel images background container*/ {
    height: 60%;
    width: 60%;
    margin: -2rem 0 0 17%;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 0.4s ease;
}

.carousel__slide /*stack images on top of each other*/ { 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    top: 25%; /*moves chevron to middle of image*/
    transform: translateY(-50%); /*center button y-axis*/
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button img{
    width: 45px; 
}

.carousel__button img:active{
    width: 40px; 
    background-color: rgba(211, 197, 4, 0.5);
    border-radius: 50%;
}

.carousel__button--left /*moves button out from behind picture*/ {
    margin-left:10%;
}

.carousel__button--right{
    margin-left: 78%;
}

.carousel__nav{
    display: flex; /* enables justify content center */
    justify-content: center;
    padding: 0.1rem 0; /* y-axis indicator paddding */
    margin-top: -4rem; /* Moves dots closer to image on y-axis */
}

.carousel__indicator{
    border: 0;
    border-radius: 50%; /* makes indicators round */
    height: 13px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0.6rem; /* adds space between indicators */
}

.carousel__indicator.current-slide{
    background: rgba(255, 255, 255, 0.9);
}

.is-hidden{
    display: none;
}

/* SHARED BODY STYLES */
.body-title{ /* about header */
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 5.5rem;
    font-weight: 1;
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.body-title::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    margin-left: 46%;
}

.body-text{ /* about paragraph */
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem !important;
    font-weight: 1;
    padding:0 5rem 3rem 2.3rem;
    text-align: justify;
}

.body-text-transform-spans{
    color: var(--yellow);
    font-weight: 600;
}

h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 1;
    margin-top: 2%;
}

/* ABOUT */
#about{
    text-align: center;
    /* background-color: rgba(0,0,0,0.2); */
    height: 100%;
}

#about.body-text {
    margin-top: -25rem;
}

.body-text {
    font-size: 2rem;
}

/* SERVICES */
#services-header{
    margin-top: 3rem;
    margin-left: 52rem;
}

#services-container{
    margin-top: 1rem;
}

.all-services-container{
    height: 380rem;
}

.all-services-container h2{
    margin-top: 10rem;
    font-size:5.5rem;
    color: white;
    font-family:'Raleway', sans-serif;
    font-weight: 1;
    margin-left: 41% !important;
}

/* services subheaders shared styles */
.all-services-container h3{
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    color: white;
    font-family: 'Raleway', sans-serif;
}

/* services paragraphs shared styles */
.all-services-container p{
    color: white;
    font-size: 2.8rem;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

.individual-service-containers{
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid white 2px;
    background-attachment: fixed;
    height: 44rem;
    padding-top: 4rem;
    padding-right: 8rem;
    padding-left: 2rem;
}

/* PONDS */
#ponds-header{
    margin-left: 45%;
}

#ponds-container{
    margin-top: 5rem;
}

#ponds-p{
    margin: 0 2rem 0 3rem;
}

#ponds-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/services1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* FLOWERBEDS */
#flowerbeds-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/flowerbed1.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-top: white solid 2px;
    padding-top: 6rem;
}

#flowerbeds-header{
    margin-left: 40%;
}

#flowerbeds-p{
    margin: 0 2rem 0 2rem;  
}

/* LAWN MOWING */
#mowing-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/mowing1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#mowing-header{
    margin-left: 43%;
}

#mowing-p{
    margin: 0 2rem 0 3rem; 
}

/* WEEDING */
#weeding-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/weeding.jpg);
    border-top: solid white 2px;
    background-size: cover;
    background-attachment: fixed;
}

#weeding-header{
     margin-left: 42%;
}

#weeding-p{
    margin: 0 2rem 0 2rem; 
}

/* MAINTENANCE */
#maintenance-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/maintenance1.jpg);
    border-bottom: solid white 2px;
    background-size: cover;
    background-attachment: fixed;    
}

#maintenance-header{
    margin-left: 39%;
}

#maintenance-p{
    margin: 0 2rem 0 3rem;
}

/* DIGGING AND CLEARING */
#digging-and-clearing-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/dandc.jpg);
    border-bottom: solid white 2px;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 6rem;    
}

#digging-and-clearing-header{
    margin-left: 33%;
    width: 100%;
}

#digging-and-clearing-p{
    margin: 0 2rem 0 3rem;
}

br.mobile-break{
    display: none;
}

/* WILDLIFE GARDENING */
#wildlife-gardening-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/wildlifegardening.jpg);
    border-bottom: solid white 2px;
    background-size: cover;
    background-attachment: fixed;    
}

#wildlife-gardening-header{
    margin-left: 35%;
}

#wildlife-gardening-p{
    margin: 0 2rem 0 3rem;
}

#wildlife-trust-link{
    text-decoration: none;
    font-weight: bolder;
    color: var(--yellow) !important;
}

#wildlife-trust-link:visited{
    color: white;
}

#wildlife-trust-link:hover{
    /* color: rgba(253, 226, 69, 0.9); */
    border-bottom: 2px solid rgba(8, 209, 18, 0.5);
    transition: color 0.3s ease;
}

/* GARDEN RESTORATIONS */
#garden-restorations-container{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(img/restorations.jpg);
    border-bottom: solid white 2px;
    background-size: cover;
    background-attachment: fixed; 
    padding-top: 6rem;   
}

#digging-and-clearing-span{
    color: var(--yellow);
    font-weight: 600;
}

#garden-restorations-header{
    margin-left: 34%;
}

#garden-restorations-p{
    margin: 0 2rem 0 3rem;
}

/* OTHER SERVICES */
#other-services-header{
    margin-left: 34rem;
    margin-top: 9rem;

}

#other-services-header::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 35%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    margin-left: 11%;
}

#other-services-p{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
    margin: 0 10rem 0 4rem;
}

#other-service-contact{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;    
    color: var(--yellow) !important;
}

#other-service-contact:visited{
    color: rgb(255, 255, 255);
}

#other-service-contact:hover{
    border-bottom: 2px solid rgba(8, 209, 18, 0.5);
}

/* CONTACT */
#contact-container{
    height: 50rem; 
    margin-bottom: -5rem;
    margin-top: 10rem;
}

#flex-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
}

#contact-header{
    margin-left: 38%;
    margin-top: 11rem;
    padding-top: 5.5rem;
    font-size: 5.5rem;
}

#contact-header::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    margin-left: 9%;
    margin-bottom: 5rem;
}

#email-container{
    color: white;
    height: 30rem;
    border: solid 1px white;
    padding: 8rem 2.6rem 8rem 2.6rem;
    background-color: rgba(0,0,0,0.2);
    margin-left: -1rem;
}

#email:hover{
    font-weight: bolder;
}

#email-icon{
    width: 8rem;
    margin-bottom: 3rem;
    margin-top: -3.5rem;
    margin-left:15.5rem;
}

#by-email{
    font-size: 3rem;
    margin-top: -2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#email{
    color:blanchedalmond;
    text-decoration: none;
    font-size: 2.8rem;
    font-family: 'Raleway', sans-serif;
}

#phone-icon{
    width: 8rem;
    margin-bottom: 3.3rem;
    margin-top: -3.5rem;
    margin-left: 7rem;
}

#phone-container a {
    text-decoration: none;
}


#phone-container{
    /* color: blanchedalmond; */
    color: white;
    height: 30rem;
    width: 42rem;
    border: solid 1px white ;
    padding: 8rem 8.7rem 8rem 8.7rem;
    background-color: rgba(0,0,0,0.2);
    margin-right: 2rem;
}

#by-phone{
    font-size: 3rem;
    margin-top: -2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#phone-number{
    color:blanchedalmond;
    font-size: 2.8rem;
    font-family: 'Raleway', sans-serif;
    margin-left: 2.2rem;
}

#phone-number:hover {
    font-weight: bolder;
}

.contact-list-item{
    color: white;
    font-family:'Raleway', sans-serif;
    list-style: none;
}

/* FAQ ACCORDION */
#faqcontainer{
    height: 25rem;
    margin-top: 1rem;
    margin-left: 6em;
}

#faqheader{
    margin-left: 47%;
    padding-top: 6rem;
    font-size: 4.2rem;
}

#faqheader::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 9%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    margin-left:1.5%;
    /* margin-bottom: 5rem; */
}

#accordion-container{
    margin-left: 6rem;
    width: 85%;
    border: 2px solid white;
}

.accordion {
  font-family: 'Raleway', sans-serif;
    height: 10rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2rem;
    transition: 0.4s;
    font-weight: bold;
    position: relative;
  }

/* ACCORDION UNDERLINE ANIMATION */  
.accordion::before{
    content: '';
    position: absolute;
    top: 80%;
    width: 23%;
    margin-left: 0.3rem;
    height: 1.5px;
    background-color:white;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

#accordion-container button:nth-of-type(2)::before{
    width: 29%;
}

#accordion-container button:nth-of-type(3)::before{
    width: 38%;
}

.accordion:focus::before{
    transform: scaleX(1);
}

.active, .accordion:hover {
background-color: rgba(204, 204, 204, 0.8);
color: black;
}

.accordion:after {
content: '\002B';
color: white;
font-weight: bold;
float: right;
margin-right: 2%;
}

.accordion:hover:after{
color: black;
transition: all 0.5s ease;
}  

.active:after {
content: "\2212";
}

.panel {
width: 100%;
background-color: rgba(255, 255, 255, 0.8);
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
text-align: center;
font-family: 'Raleway', sans-serif;
font-size: 1.7rem;
font-weight: bold;
color: black;
}

.panel p{
margin: 4% 0 4% 0;
}

#faq_bridport_link{
    text-decoration: none;
    color: var(--green)!important;
}

#faq_bridport_link:hover{
border-bottom: 2px solid var(--yellow); 
/* transition: all 2s ease; */
}

#faq_bridport_link:visited{
    color: black;
}

/* MAP */
#map {
    height: 40rem;
    width: 60rem;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 5rem;
    margin-top: 12rem;
  }

  .map-container {
      height: 65rem;
      padding-top: 4rem;
  }
 
  /* BACK TO TOP BUTTON */
#back-to-top {
    --offset: 10rem;
    margin-top: calc(100vh + var(--offset));
    place-self: end;
    position: sticky;
    bottom: 20px;
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    font-family: sans-serif;
    color: var(--yellow);
    background: rgba(202, 195, 195, 0.4);
    border-radius: 100px;
    white-space: nowrap;
    margin-right: 1rem;
  }

  #back-to-top a{
      text-decoration: none;
      color: var(--yellow);
  }

  #back-to-top:hover{
    background: rgba(202, 195, 195, 0.7);
    transform: scale(0.96);
    transition: all 0.4s ease ;
  }

  #back-to-top a:visited{
    text-decoration: none;
  }


@media (max-width: 1280px) {
    .brand-title {
        font-size: 2rem;
    }

    .navbar-links li {
        font-size: 1.5rem;
    }

    #logo{
        height: 4rem;
    }

    .headline h1{
        font-size: 3.4rem;
    }

    .carousel{
        height: 60rem;
        width: 90%;
        margin: -8rem 0 0 5.8rem;
    }

    /* about section */
    .body-title {
        font-size: 4rem;
    }

    .body-text{
        font-size: 1.7rem;
    }

    /* services */
    #services-header {
        font-size: 4rem;
        margin-left: 33rem;
    }

    .all-services-container h3 {
        font-size: 4rem;
    }
   
    .all-services-container p {
        font-size: 1.7rem;
    }

    #flowerbeds-header{
        margin-left: 38%;
    }

    #mowing-header{
        margin-left: 40%;
    }

    #weeding-header{
        margin-left: 40%;
   }

   #maintenance-header{
    margin-left: 37%;
}

#digging-and-clearing-header{
    margin-left: 26%;
    width: 100%;
}

#wildlife-gardening-header{
    margin-left: 29%;
}

#garden-restorations-header{
    margin-left: 29%;
}

/* other services */
#other-services-header{
    margin-left: 19rem;
    margin-top: 9rem;
}

#other-services-header::after{
    margin-left: 16%;
}

#other-services-p {
    font-size: 1.7rem;
}

/* contact */
#contact-container {
    margin-top: -4rem;
}

#contact-header {
    font-size: 4rem;
    margin-left: 38%;
}

#contact-header::after {
    margin-left: 11%;
}

#email-container{
    height: 25rem;
}

#email-icon{
    width: 6rem;
    margin-bottom: 3rem;
    margin-top: -3.5rem;
    margin-left:11rem;
}

#by-email{
    font-size: 2.5rem;
    margin-top: -2rem;
}

#email{
    font-size: 2rem;
}

#phone-container{
    height: 25rem;
    width: 32rem;
}

#by-phone{
    font-size: 2.5rem;
}

#phone-number{
    font-size: 2rem;
}

#phone-icon{
    width: 5rem;
}

/* faq */
#faqcontainer {
    margin-left: 1rem;
}
#faqheader {
    font-size: 4rem;
    margin-left: 45%;
}

#faqheader::after {
    margin-left: 3.5%;
}

}

@media (max-width: 768px) {
    .headline h1 {
        margin-top: 13rem;
    }
    
    .toggle-button{
        display: flex;
        margin: 2rem 2rem -1% 0 !important;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{ /* navbar background  */
        flex-direction: column;
        align-items: flex-start;
        height: 9rem;
        width: 80%;
    }

    .navbar-links ul{ /* hamburger links background */
        margin-top: -2.2rem;
        padding-bottom: 3rem;
        width: 100%;
        flex-direction: column;
        background-color: var(--green);
    }

    .navbar-links li{
        text-align: center;
        font-size: 2.3rem !important;
    }

    .navbar-links a{
        padding: .1rem .1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .toggle-button{
        display: flex;
        width: 3.5rem !important;
        border-radius: 50% !important;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        right: 8rem;
        top: 1rem;
    }

    .svgToggle:hover{
        border-radius: 50%;
        border: 1px solid rgb(255, 247, 94);
        padding: 12%;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .svgToggle:active{
        background-color: rgba(255, 247, 94, 0.5);
        transition: background-color ease 0.1s;
    }

    
    .brand-title {
        font-size: 3.5rem;
        margin: -4.7rem 0 4rem 25rem;
    }

    #logo{
        height: 8rem;
        margin: 2rem 0 0 2rem;
        width: 5rem;
    }
    

    .headline h1{
        font-size: 3rem;
        width: 90% !important;
    }

    .carousel{
        height: 50rem;
        width: 90%;
        margin: -8rem 0 0 4.5rem !important;
    }

    /* about section */
    .body-title {
        font-size: 3rem;
    }

    .body-text{
        font-size: 1.7rem;
    }

    /* services */
    #services-header {
        font-size: 3.4rem;
        margin-left: 19rem;
    }

    .all-services-container{
        height: 310rem;
    }
    
    .all-services-container h3 {
        font-size: 3.4rem;
    }
   
    .all-services-container p {
        font-size: 1.7rem;
    }

    #ponds-header{
        margin-top: 5.5rem;
        margin-left: 39% !important;
    }
    
    #flowerbeds-header{
        margin-left: 31% !important;
        margin-top: 5.7rem;
    }

    #mowing-header{
        margin-left: 36% !important;
        margin-top: 5.5rem;
    }

    #weeding-header{
        margin-left: 40%;
        margin-top: 5.5rem;
   }

   #maintenance-container{
    height: 35rem;
}

   #maintenance-header{
    margin-left: 29% !important;
}

#digging-and-clearing-header{
    margin-left: 26%;
    margin-top: 5.5rem;
    width: 100%;
}

#wildlife-gardening-header{
    margin-left: 18% !important;
    margin-top: 5.5rem;
}

#wildlife-gardening-p{
    margin: 0 2rem 0 4rem;
    text-align: left;
}


#garden-restorations-header{
    margin-left: 17% !important;
    margin-top: 7rem;
}

/* other services */
#other-services-header{
    margin-left: 19rem;
    margin-top: 9rem;
}

#other-services-header::after{
    margin-left: 16%;
}

#other-services-p {
    font-size: 1.7rem;
}

/* contact */
#contact-container {
    margin-top: 6rem;
    height: 75rem !important;
}

#contact-header {
    font-size: 3.5rem;
    margin-left: 32% !important;
}

#contact-header::after {
    margin-left: 13% !important;
}

#email-container{
    height: 25rem;
    width: 32rem !important; 
    margin-left: 8.5rem !important;
}

#email-icon{
    width: 6rem;
    margin-bottom: 3rem;
    margin-top: -3.5rem;
    margin-left:10.5rem !important;
}

#by-email{
    font-size: 2rem;
    margin-top: -2rem;
}

#email{
    font-size: 1.8rem;
}

#phone-container{
    height: 25rem;
    width: 32rem !important;
    margin-left: 8.5rem !important;
}

#by-phone{
    font-size: 2rem;
}

#phone-number{
    font-size: 1.8rem;
    white-space: nowrap;
    margin-left: 1.5rem !important;
}

#phone-icon{
    width: 5rem;
    margin-left: 4rem !important;
}

/* faq */
#faqcontainer {
    margin-left: 2.4rem;
}
#faqheader {
    font-size: 4rem;
    margin-left: 44% !important;
}

#faqheader::after {
    margin-left: 6.5% !important;
}

.accordion {
    font-size: 1.8rem;
}

.accordion::before {
    margin-left: 3rem !important;
}

#accordion-container button:nth-of-type(2)::before{
    width: 50% !important;
}

#accordion-container button:nth-of-type(3)::before{
    width: 70% !important;
}

.panel {
    font-size: 1.3rem;
}

.panel p{
    padding: 0 4% 0 4%;
    }

    #map {
        height: 30rem !important;
        width: 60rem;
        margin: auto;
        border-radius: 20px;
        margin-bottom: 0rem !important;
        margin-top: 13rem !important;
      }
    
      .map-container {
          height: 55rem;
          padding-top: 4rem;
      } 
}

@media(max-width: 360px) {
.brand-title {
    font-size: 1.7rem;
    margin: -4rem 0 1.7rem 5rem !important;
}

.toggle-button{
    position: absolute;
    top: 22px;
    right: 1rem;
    display: none; /*doesn't display by default - has to be triggered on*/
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

#logo{
    margin-left: 2rem;    
    margin-top: 1rem !important;
    height: 3.5rem;
}
}





































  /* @media (max-width: 1000px){
    #other-services-header{
        margin-left: 15%;
        margin-top: 9rem;
        
    }
    
    #other-services-header::after{
        margin-left: 18%;
    }
    
  }


  @media (max-width: 968px) {


    #faqheader::after{
        margin-left:3.6%;
    }

    .accordion::before{
        margin-left: 4.5%;
    }

    #accordion-container button:nth-of-type(2)::before{
        width: 32%;
    }
    
    #accordion-container button:nth-of-type(3)::before{
        width: 43%;
    } */

    /* .carousel__button--left moves button out from behind picture { */
        /* margin-left:8%;
    
    } */
/*     
    #flex-container{
        display: flex;
        flex-direction: column;
    } */
    
    /* #contact-header{
        margin-left: 38%;
    }
    
    #contact-header::after{
        width: 25%;
        margin-left: 10%;
    }
    
    #email-container{
        width: 60%;
        margin-left: 21%; 
        margin-bottom: 5%;
    } */
    
    /* #email-icon{
        margin-left:43%;
    }
    
    #phone-icon{
        margin-left: 40%;
    }
  
    
    #email{
        margin-left: 6%;
    } */
    
    
/*     
    #phone-container{
        width: 60%;
        margin-left: 21%; 
        margin-bottom: 5%;
    }
    
    #phone-number{
        margin-left: 14%;
    }
    

  } */

/*   
@media (max-width: 820px) {
    .toggle-button{
        display: flex;
        margin: 0px 0 -1% 0;
        
    }
    */

    /* .navbar-links{
        display: none;
        width: 100%;
    } */

    /* .navbar{ navbar background */
        /* flex-direction: column;
        align-items: flex-start;
        height: 5.1rem;
    } */

    /* .brand-title{
        margin: -34px 0 22px 33%; */
        /* color: rgb(10, 10, 238); */
/* 
    } */

    /* .navbar-links ul{ hamburger links background */
        /* width: 100%;
        flex-direction: column;
        background-color: var(--green);
    } */

    /* .navbar-links li{
        text-align: center;
    }

    .navbar-links a{
        padding: .1rem .1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    #logo {
        margin:1.5% 0 -1% 3%; 
    } */

    /* .toggle-button{
        margin: 1% 0 -1% 0;
    }
} */

/* @media (max-width: 860px){
    .all-services-container p{ */
        /* color: rgb(241, 21, 157); */
        /* width: 77%;
        padding-left:10%;
    } */

    /* #services-header{
        margin-left: 38%;
    }

    #ponds-header{
        margin-left: 42%;
    }

    #flowerbeds-header{
        margin-left: 30%;
    }

    #mowing-header{
        margin-left: 38%;
    }

    #weeding-header{
        margin-left: 34%;
   }

   #maintenance-header{
    margin-left: 32%;
}

#digging-and-clearing-header{
    margin-left: 19%;
}

#wildlife-gardening-header{
    margin-left: 21%;
}
   
#garden-restorations-header{
    margin-left: 20%;
}

#back-to-top {
    right: 10px;
}
 */



/* 733 complete */
/* @media (max-width: 830px){
    .headline h1 {
        width: 72%;
        margin-right: -2rem;
    } */

    /* .body-text{ about paragraph */
        /* padding:0 10% 3rem 10%;
        text-align: justify;
    } */

    /* .carousel{
        margin: -8rem 0 0 15%;
    } */

    /* .carousel__button--left moves button out from behind picture { */
        /* margin-left:6.5%; */
    /* }


    #ponds-p{
        margin: 0 2rem 0 3.5rem;
        font-size: 1.6rem;
    }

    #flowerbeds-p{
        margin: 0 2rem 0 3rem;
    }

    #weeding-p{
        margin: 0 2rem 0 3rem;
    }

    #digging-and-clearing-header{
        margin-left: 17%;
    }

    #wildlife-gardening-header{
        margin-left: 20%;
    }

    #garden-restorations-header{
        margin-left: 18%;
    }

    #contact-header{
        margin-left: 36%;
        margin-top: -35rem;
    }

    #contact-header::after{
        width: 30%;
    }
    
    #email{
        margin-left: 2%;
    }
  
    #phone-icon{
        margin-left: 37%;
    }
    #phone-number{
        margin-left: 2%;
    }

    #contact-container{
        height: 60rem; 
    }

    #faqheader{
        margin-left: 47%;
        padding-top: 6rem;
    }

    #faqheader::after{
        width: 14%;
    }

    #accordion-container{
        margin-left: 8%;
    }
    
    #other-services-header::after{
        width: 47%;
    }

    #other-services-header{
        margin-left: 12%;
    }

    #map {
        height: 70%;
        width: 70%;
        margin: auto;
        border-radius: 20px;
        margin-bottom: 5rem;
        margin-top: 5rem;
      }
     */
/* }

@media(max-width: 820px){

    #faqheader{
        margin-left: 44%;
    }

    #accordion-container{
        /* margin-top: 10rem; */
        /* margin-left: 14%;
        width: 70%;
        border: 2px solid white;
    } */
    
/* 
    #faqheader::after{
        margin-left:5%;
    } */

    /* .accordion::before{
        margin-left: 4.5%;
        width: 36%;
    } */
/* 
    #accordion-container button:nth-of-type(2)::before{
        width: 47%;
    } */
    
    /* #accordion-container button:nth-of-type(3)::before{ */
        /* width: 65%;
    }

    #contact-header{
        margin-left: 36%;
    }
    
    #contact-header::after{
        margin-left: 12%;
    }
    
   
    
    #email-icon{
        margin-left:42%;
    }
    
    #phone-icon{
        margin-left: 36%;
    }
  
    
    #email{
        margin-left: 2%;
    }
    
    #phone-number{
        margin-left: 1%;
    }
} */



/* 672 complete */
/* @media (max-width: 713px){
    .carousel{
        display: none;
    } */

    /* .headline h1 {
        margin-right: 1%;
        margin-top:10.5rem;
        font-size: 4.4rem;
        line-height: 140%;
    } */

    /* .body-text{ about paragraph */
        /* padding:0 10% 3rem 0%;
        text-align: justify;
        margin-left: 5%;
        width: 100%;
    }

    #services-header{
        margin-left: 33%;
        
    }

    .all-services-container p{
        width: 45%;
        padding-left:0.9%;
        text-align: start;
        word-spacing: 5px ;
    }

    #ponds-header{
        margin-left: 37%;
    }

    #ponds-p{
        margin: 0 0 0 8%;
        width: 85%;
        font-size: 1.6rem;
    }

    #flowerbeds-header{
        margin-left: 28%;
    }

    #flowerbeds-p{
        margin: 0 0 0 12%;
        width: 85%;
    }

    #mowing-header{
        margin-left: 34%;
    }

    #mowing-p{
        margin: 0 0 0 10%;
        width: 85%;
    }

    #weeding-header{
        margin-left: 32%;
   }

   #weeding-p{
    margin: 0 0 0 7%;
    width: 85%;
}

   #maintenance-header{
    margin-left: 27%;
}

#maintenance-p{
    margin: 0 0 0 8%;
    width: 85%;
}

#digging-and-clearing-header{
    margin-left: 12%;
    font-size: 3.4rem;
}


#digging-and-clearing-p{
    margin: 0 0 0 9.5%;
    width: 85%;
}

#wildlife-gardening-header{
    margin-left: 18%;
    font-size: 3.2rem;
}

#wildlife-gardening-p{
    margin: 0 0 0 8.5%;
    width: 85%;
}


#wildlife-gardening-container{
    height: 32rem;
}
   
#garden-restorations-header{
    margin-left:15%;
    font-size: 3.3rem;

}

#garden-restorations-p{
    margin: 0 0 0 8%;
    width: 85%;

}

#garden-restorations-container{
    height: 32rem;
}

#other-services-header{
    margin-left: 8%;
    margin-top: 9rem;
}

#other-services-header::after{
    width: 60%;
    margin-left: 15%;
}

#other-services-p{
    font-size: 1.6rem;
    margin: 0 0 0 10%;
    width: 80%;
} */

/* #contact-header{
    margin-left: 33%;
} */
/* 
#contact-header::after{
    width: 30%;
    margin-left: 11%;
    margin-bottom: 5rem;
} */

/* #email-container{ */
    /* color: blanchedalmond; */
    /* height: 1rem;
    padding: 8rem 2.6rem 8rem 2.6rem;
    margin-left: 20%;


} */
/* 
#email{
    width: 40%;
    margin-left: -9%;
} */
/* 
#email-icon{
    margin-left:42%;
} */

/* #email{
    color:blanchedalmond;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
} */

/* #phone-container{ */
    /* color: blanchedalmond; */
    /* color: white;
    height: 1rem;
    border: solid 1px white ;
    padding: 8rem 0 8rem 8.7rem;
    background-color: rgba(0,0,0,0.2);
}

#by-phone{
    width: 100%;
    margin-left: -23%;

}

#phone-number{
    color:blanchedalmond;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin-left: -10%;

}

#phone-icon{
    margin-left: 18%;
}

#faqcontainer{
    height: 25rem;
    margin-top: 1rem;
}

#faqheader{
    margin-left: 45%;
    padding-top: 6rem;
} */

/* #faqheader::after{
    content: "";
    display: block;
    margin: 0 auto;
    width: 18%;
    padding-top: 10px;
    border-bottom: 2px solid white;
    margin-left:2.5%;
    margin-bottom: 5rem;
} */

/* #accordion-container{ */
    /* margin-top: 10rem; */
    /* margin-left: 5%;
    width: 90%;
} */


/* .accordion {
  font-family: 'Raleway', sans-serif;
    height: 6rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.6rem;
    transition: 0.4s;
    font-weight: bold;
    position: relative;
    
  }

  

} */
/* 
@media (max-width: 740px) {
    

    .body-title::after{
        width: 15%;
        margin-left: 43%;
    }

} */

/* @media(max-width: 690px){
    #faqheader{ */
        /* color: red; */
        /* margin-left: 25%;
        margin-top: 5rem;
    }

    .accordion{
        padding: 0 2% 0 2%;
    } */

    /* #accordion-container{ */
        /* margin-top: 10rem; */
        /* margin-left: 3%;
        width: 54.5%;
        border: 2px solid white;
    }

    #faqheader::after{
        margin-left:2.5%;
    }

    .accordion::before{
        margin-left: 4.5%;
        width: 47%;
    }

    #accordion-container button:nth-of-type(2)::before{
        width: 63%;
        margin-left: 6%;
    }
    
    #accordion-container button:nth-of-type(3)::before{
        width: 50%;
        margin-left:4%;
        margin-top: 2%;
    }

}

@media(max-width: 670px){

    #contact-header{
        margin-left: 14%;
    }

    #contact-header::after{
        margin-left: 6%;
    }
    
   #email-container{
       margin-left: 5%;
       width: 50%;
   }
    
    #email-icon{
        margin-left:40%;
    }
    
    #phone-icon{
        margin-left: 33%;
    }
  
    #by-phone{
        margin-left: -22%;
        margin-right: -28%;
    }
    
    #email{
        margin-left: -5%;
        font-size: 1.6rem;
    }
    
    #phone-container{
        width: 50%;
        margin-left: 5%;
    }

    #phone-number{
        margin-left: -30%;
        white-space: nowrap;
    }
}

@media (max-width: 585px) {
    .brand-title{
        margin: -34px 0 22px 33%;
        width: 100%;
    }

    .toggle-button{
        margin: 6px 0 -1% 0;
    }
}

@media (max-width: 583px) {
    .brand-title{
        margin: -40px 0 22px 33%;
        width: 100%;
    }
}

@media (max-width: 533px) {

    .headline h1{
        /* color: red; */
        /* font-size: 3.5rem;
        margin-top: 12rem;
        width: 90%;
        margin-right: -43%;
    } */

    /* .body-title {
        margin-left: 21%;
    } */

    /* .body-title::after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 40%; 
        margin-left: 32%;
    } */

    /* .body-text{ about paragraph */
        /* padding:0 10% 3rem 0%;
        text-align: justify;
        margin-left: 4%;
        width: 100%;
    } */

    /* #services-header{
        margin-left: 28%;
    } */
/* 
    #ponds-header{
        margin-left: 33%;
    } */
/* 
    #ponds-p{
       margin-left: 10%;
    }

    #ponds-container{
        height: 35rem;
    } */
/* 
    #flowerbeds-container{
        height: 33rem;
    } */

/*     
    #flowerbeds-header{
        margin-left: 18%;
    } */
/* 
    #flowerbeds-p{
        margin-left: 10%;
    } */
    
    /* #mowing-container{
        height: 34rem;
    }

    #mowing-header{
        margin-left: 27%;
    }
    
    #mowing-p{
        margin-left: 8%;
    }

    #weeding-container{
        height: 34rem;
    }

    #weeding-header{
        margin-left: 25%;
   }
   
   #weeding-p{
       margin-left: 10%;
   }

   #maintenance-container{
    height: 39rem;
   }

   #maintenance-header{
    margin-left: 16%;
    }

    #maintenance-p{
        margin-left: 8%;
    }

    br.mobile-break{
        display: block;
    }

    #digging-clearing-and-span{
        margin-left: 30%;
    }

    #digging-and-clearing-digging-span{
        margin-left: 20%;
    }

    #digging-and-clearing-clearing-span{
        margin-left: 17%;
    }

    #digging-and-clearing-container{
       height: 41rem;
    }

    #digging-and-clearing-p{
        margin-left: 9%;
    }
    
    #wildlife-span-1{
        margin-left: 7%;
    }
    
    #wildlife-gardening-container{
       height: 36rem; 
    }
    
    #wildlife-gardening-header{
        margin-left: 25%;
    }
    
    #wildlife-gardening-p{
        margin-left: 12%;
    }

    #garden-restorations-container{
       height: 34rem;
    }
    
    #garden-restorations-span-1{
        margin-left: 18%;
    }

    #garden-restorations-span-2{
        margin-left: 6%;
    }
    
    #garden-restorations-p{
        margin-left: 8%;
    }

    #other-services-header{
        margin-left: 20%;
    }
    
    #other-services-header::after{
        margin-left: 8%;
    }
    
    #other-services-p{
        margin-left: 12.5%;
    } */

    /* #contact-container{ */
        /* remove margin top */
        /* height:50rem; 
        margin-bottom: 15rem;
        margin-top: 50rem;
    } */
    
    /* #contact-header{
        margin-left: 26%;
        margin-top: 11rem;
        padding-top: 20rem;
    }
    
    #contact-header::after{
        width: 60%;
        margin-left: 6%;
        margin-bottom: 5rem;
    } */
    
    /* #email-container{
        width: 89%;
        margin-left: 6%;
    }
    
    #email{
        margin-left: -6%;
        font-size: 1.8rem;
    } */
    
    /* #email-icon{
        margin-left:41%;
    }
    
    #phone-icon{
        margin-left: 18%;
    }
   */
    /* #phone-container{
        width: 89%;
        margin-left: 6%;
    }
    
    #phone-number{
        margin-left: -7%;
    } */

    /* #faqcontainer{
        height: 25rem;
        margin-top: 1rem;
    }
    
    #faqheader{
        margin-left: 42%;
        padding-top: 6rem;
    } */
    
    /* #faqheader::after{
        width: 25%;
        margin-left:2.5%;
    }
    
    #accordion-container{
        margin-left: 3.2%;
        width: 94%;
    } */

    /* #accordion-container button:nth-of-type(3)::before{
        width: 70%;
        margin-top: -3%;
        margin-left: 10%;
    } */
/* 
    #map {
        height: 70%;
        width: 95%;
        margin: auto;
        margin-top: 5.5rem; */
    /* } */
/* 
    .brand-title{
        margin: -40px 0 22px 23%;
    }  */

    /* .navbar-links ul{ hamburger links background */
        /* width: 100%;
        flex-direction: column;
        background-color: var(--green);
    } */
    /* .headline h1 { */
        /* color: blue; */
        /* margin-left: -13rem;
    }
} */
/* 
@media (max-width: 540px) {

    .body-title {
        color: rgb(255, 255, 255);
        margin-right: 26%;
    } */

    /* .body-text{ about paragraph */
        /* padding:0 10% 3rem 3.5%;
        margin-right:20%;
        text-align: justify;
        color: white;
    } */


/* } */

